input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
}
label {
    margin-left: 30px;
    color: #fff;
}
.inputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}